/*
background-color: #d4ebd0;
background-color: #f5cab3;
background-color: #f3ecb8;
*/

h1 {
  color: #d4ebd0;
  padding-top: 4%;
  font-size: 4rem;
}

h3 {
  color: #f3ecb8;
  font-size: 2rem;
}


.container-fluid {
  padding: 3% 5% 5%;
}

.column {
  margin-top: 1%;
  margin-bottom: 3%;
}

.counter {
  margin-bottom: 10%;
}

.designIcon {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  -webkit-text-stroke: 5px #FEA5AD;
}

.image-card {
  width: 50%;
}

.title-image {
  width: 45%;
  transform: rotate(20deg);
  position: absolute;
  right: 20%;
}

.navbar-color {
  background-color: #b590ca;
  padding: 0.5%;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 2rem;
  text-align: center;
}

.productos {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.productos {
  padding: 100px;
  text-align: center;
}

.carro-compras {
  background-color: #f5cab3;
  text-align: center;
  padding: 7% 15%;
}
